{% extends 'common/panel.html' %}
{% load appname %}
{% block title %}{% appname %} Help{% endblock %}

{% block panel %}

<link rel="stylesheet" href="{{MEDIA_URL}}screencasts/css/screencasts.css" type="text/css" media="all" title="no title" charset="utf-8">
<link rel="stylesheet" href="{{MEDIA_URL}}common/css/typography.css" type="text/css" media="all" title="no title" charset="utf-8">

<style type="text/css">
    .tabs { font-size: 1.0em; }
    .help_back { font-size: 0.8em; }
</style>

<div id="helptop"></div>
<br/>
<div class="tabs">
    <ul>
        <li><a href="#tutorial"><span>Tutorial</span></a></li>
    </ul>
    <div id="tutorial">
        <ul>
            <li><h2><a href="#logging_in">Logging In</a></h2></li>
            <ul>
                <li><a href="#registration">Registration and Logging In</a></li>
            </ul>
            <li><h2><a href="#basic">Basic Usage</a></h2></li>
            <ul>
                <li><a href="#generating">Creating Bioregions</a></li>
                <li><a href="#editing">Editing Bioregions</a></li>
                <li><a href="#reports">Viewing Reports</a></li>
                <li><a href="#data_layers">Viewing Data Layers</a></li>
            </ul>
            <li><h2><a href="#advanced">Advanced</a></h2></li>
            <ul>
                <li><a href="#folders">Creating Folders</a></li>
                <li><a href="#sharing">Sharing your Bioregion</a></li>
                <li><a href="#viewing_shared">Viewing Shared Bioregions</a></li>
                <li><a href="#support">Help</a></li>
            </ul>
        </ul>
        
        <div>
        <h2><a name="logging_in">Logging In</a></h2>
            <div style="padding-left: 25px">
                <h3><a name="registration">Registration and Logging In</a></h3>
                <p> 
                    If you have not yet registered for the tool, you will want to do that now.  
                    Select the 'Register' button (top-right) and fill out the required form.
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/registration_form_80.png" align="center" />
                <p> 
                    Once the form has been submitted, you will receive an email that enables you to activate your account.  
                    Click on the link provided in the email and log in to the site.
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/sign_in_80.png" align="center" />
                <p> 
                    You are now ready to create your own Bioregion.
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/main_page_33.png" align="center" />
                <p>
                    <a class="help_back" href="#helptop">&lt;&lt;back to top</a>
                </p>
            </div>
        </div>
        
        <div>
        <h2><a name="basic">Basic Usage</a></h2>
            <div style="padding-left: 25px">
                <h3><a name="generating">Creating Bioregions</a></h3>
                <p> 
                    To begin creating your own bioregion, you will want to locate your home on the map.
                    Enter the population center nearest your home into the text field and click the 'Fly Here' button.
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/portland_33.png" align="center" />
                <p> 
                    You may also want to manuever around the map with mouse or keyboard controls to more precisely view your home location.
                </p>
                <p> 
                    Once you have found your home location on the map click 'Create New' near the top of the left panel and select 'Bioregion' from the drop down list.
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/create_bioregion_80.png" align="center" />
                <p> 
                    This will bring up the 'New Bioregion' form.
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/bioregion_form_38.png" align="center" />
                <p> 
                    To complete this form, you will need to enter a Name and select a Starting Point.  
                    Select a starting point by selecting the 'Click to Set Starting Point' button and clicking your home location on the map.  
                    If you wish to change the location of the placemark, simply select the placemark with the left mouse button, holding the mouse button down as you drag the placemark to the desired location, and release. 
                </p>
                <p> 
                    After you have placed an indicator on your home location and provided a name for your bioregion, you will want to position the four slider bars representing the weight you would like the application to each of the four variables, Temperature, Spoken Language, Precipitation, and Vegetation.  
                    For instance, if you feel that Temperature is very important in identifying your bioregion, then you will want to increase the weight given to that parameter.  
                    If you feel that Spoken Language is not very important in identifying your bioregion, then you will want to weight that parameter with a smaller value.  
                </p>
                <p> 
                    Once you have given your Bioregion a name and location, and have finished weighting the four parameters select 'Submit' and wait while the application generates your bioregion.
                    <a class="help_back" href="#helptop">&lt;&lt;back to top</a>
                </p>
            </div>
            
            <div style="padding-left: 25px">
                <h3><a name="editing">Editing Bioregions</a></h3>
                <p> 
                    Naturally, you might want to experiment with the parameters or the starting location or even change the name or description of your Bioregion.  
                    In addition to creating new bioregions, you may also edit a bioregion by selecting your bioregion in the left panel and selecting Edit as shown here:
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/edit_80.png" align="center" />
                <p> 
                    <a class="help_back" href="#helptop">&lt;&lt;back to top</a>
                </p>
                
            </div>
            
            <div style="padding-left: 25px">
                <h3><a name="reports">Viewing Reports</a></h3>
                <p> 
                    After you are happy with your bioregion results you have the option of running reports on your shape through the attributes panel.  
                    Select 'Attributes' or double click your bioregion to bring up the Results panel. 
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/attributes_80.png" align="center" />
                <p> 
                    From here you can generate Summary Characteristic Reports and Vulnerabilities Reports.
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/reports_80.png" align="center" />
                <p> 
                    <a class="help_back" href="#helptop">&lt;&lt;back to top</a>
                </p>
            </div>
            
            <div style="padding-left: 25px">
                <h3><a name="data_layers">Viewing Data Layers</a></h3>
                <p> 
                    You may also be interested in viewing the data layers that are used to generate your bioregion and create these reports.  
                    Some of these data layers are available for viewing through the 'Data and Tools' panel.  
                </p>
                <p> 
                    By selecting the Data and Tools panel, you can expand the World Bioregional Data tree (under the Bioregional Tool Data section), selecting the layer you wish to view.   
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/data_layers_80.png" align="center" />
                <p> 
                    <a class="help_back" href="#helptop">&lt;&lt;back to top</a>
                </p>
            </div>
        </div>
        
        <div>
        <h2><a name="advanced">Advanced</a></h2>
            <div style="padding-left: 25px">
                <h3><a name="folders">Creating Folders</a></h3>
                <p> 
                    If you are interested in creating multiple bioregions and managing them in different folders, you can create folders through the 'Create New' menu.
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/create_folder_80.png" align="center" />
                <p> 
                    Once you have created a folder you may select one or more bioregion and drag them into (or out of) your folders.
                    <a class="help_back" href="#helptop">&lt;&lt;back to top</a>
                </p>
            </div>
            
            <div style="padding-left: 25px">
                <h3><a name="sharing">Sharing your Bioregion</a></h3>
                <p> 
                    You are also encouraged to share your final bioregions with others at the Convening.  
                    To share with other registered users, select your bioregion, click Edit, and then Share.
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/edit_share_80.png" align="center" />
                <p> 
                    Select the group you wish to share your bioregion with and submit.
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/share_with_group_80.png" align="center" />
                <p> 
                    <a class="help_back" href="#helptop">&lt;&lt;back to top</a>
                </p>
            </div>
            
            <div style="padding-left: 25px">
                <h3><a name="viewing_shared">Viewing Shared Bioregions</a></h3>
                <p> 
                    You can view shapes that others have shared with you through the Data and Tools panel.  
                    To view these shared shapes, expand the Bioregions tree (and subsequent subtrees) under the Shared Bioregions section.
                </p>
                <img style="border:1px solid black" src="{{MEDIA_URL}}/bmm/img/help/shared_bioregions_80.png" align="center" />
                <p> 
                    <a class="help_back" href="#helptop">&lt;&lt;back to top</a>
                </p>
            </div>
            
            <div style="padding-left: 25px">
                <h3><a name="support">Help</a></h3>
                <p> 
                    For questions that are not answered on this page, please feel free to contact us at <a href="mailto:bioregions@ecotrust.org">bioregions@ecotrust.org</a>.
                </p>
            </div>
        </div>
        
    </div>
</div>


<script type="text/javascript">
        lingcod.onShow(function(){
                $('#tutorial').localScroll({
                    target:'.marinemap-panel'
                });
        });
</script>



{% endblock panel %}
