{% extends 'common/panel.html' %}
{% load humanize %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}

<script type="text/javascript">
    madrona.onShow(function(){
    });
</script>
    

<h1>The <em>{{instance.name}}</em> Bioregion</h1>

<style type="text/css">
    div.box > ul > li { font-size: 12px; }
</style>
        
        <div id="results" class="tabs">
        <ul>
            <li><a href="#intro"><span>Introduction</span></a></li>
            <li><a href="#summary"><span>Summary</span></a></li>
            <li><a href="#vulnerabilities"><span>Vulnerabilities</span></a></li>
            <li><a href="#shared"><span>Shared Connections</span></a></li>
        </ul>
        <div id="intro">
            <h2>Reports</h2>
            <div class="box">
                <p><strong>Summary:</strong> provides information such as population, poverty, and resource endowments related to your bioregion.</p>
                <p><strong>Vulnerabilities:</strong> provides information related to climate change, development pressure, water resource limitations, and food scarcity.</p>
            </div>

            {% if instance.description %}
            <h2>Description</h2>
            <div class="box">
                <p>{{instance.description}}</p>
            </div>
            {% endif %}
        </div>
        <div id="summary" class="tabs">
            <ul>
                <li><a href="#summary_intro"><span>Intro</span></a></li>
                <li><a href="{% url analysis 'overview' instance.uid %}"><span>Overview</span></a></li>
                <li><a href="{% url analysis 'language' instance.uid %}"><span>Language</span></a></li>
                <li><a href="{% url analysis 'resources' instance.uid %}"><span>Natural Resources</span></a></li>
            </ul>
            <div id="summary_intro">
                <h2>Summary Reports</h2>
                <div class="box">
                    <p><strong>Overview: </strong> provides estimates of size, population, temperature, and precipitation for your bioregion.</p>
                    <p><strong>Language:</strong> provides information related to what languages are currently spoken within your bioregion and what languages have historically been spoken.</p>
                    <p><strong>Natural Resources:</strong> provides information related to primary productivity, agriculture, and existing ecoregions.</p>
                </div>
            </div>
        </div>
        <div id="vulnerabilities" class="tabs">
            <ul>
                <li><a href="#vulnerabilities_intro"><span>Intro</span></a></li>
                <li><a href="{% url analysis 'climate' instance.uid %}"><span>Climate Change</span></a></li>
                <li><a href="{% url analysis 'socioeconomic' instance.uid %}"><span>Socio-Economic</span></a></li>
                <li><a href="{% url analysis 'hazards' instance.uid %}"><span>Natural Hazards</span></a></li>
            </ul>
            <div id="vulnerabilities_intro">
                <h2>Vulnerabilities Reports</h2>
                <div class="box">
                    <p><strong>Climate Change:</strong> provides information related to impacts on agriculture, water, and land loss due to sea level rise.</p>
                    <p><strong>Socio-Economic:</strong> provides information related to human impacts, human needs, social equity, and cultural pressures.</p>
                    <p><strong>Natural Hazards:</strong> provides information related to potential natural hazards and their economic costs.</p>
                </div>
            </div>
        </div>
        <div id="shared" class="tabs">
            <ul>
                <li><a href="#shared_intro"><span>Intro</span></a></li>
                <li><a href="{% url bioregion-connection instance.uid %}"><span>Bioregions</span></a></li>
                <li><a href="{% url story-connection instance.uid %}"><span>Stories</span></a></li>
            </ul>
            <div id="shared_intro">
                <h2>Spatial connections shared by our community</h2>
                <div class="box">
                    <p><strong>Bioregions:</strong> 
                    This report will outline the bioregions of other community members that intersect with yours.
                    </p>
                    <p><strong>Stories:</strong> 
                    Find interesting stories from other community members in your part of the world.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock panel %}
