{% extends 'common/panel.html' %}

{% block panel %}
{% load humanize %}
{% load analysis_extras %}

<h2>Natural Resources</h2>
<h3>Eco-Regions</h3>
<div class='freetext'>
<p>
<table  style='width:430px' class='analysis_report_container'>
    <tbody>
        <tr class="grey">
            <td colspan='2'><b>Eco-Regions</b></td>
        </tr>
        {% for ecoregion in ecoregions %}
        <tr>
            <td colspan='2'>{{ecoregion.0}} ({{ecoregion.1|floatformat:0|intcomma}} km<sup>2</sup> / {{ecoregion.2|floatformat:0|intcomma}} mi<sup>2</sup>)</td>
        </tr>
        {% endfor %}
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Regions considered among the 10% Least Influenced Areas</b></td>
        </tr>
        {% for region in wild_regions %}
        <tr>
            <td colspan='2'>{{region.0}} ({{region.1|floatformat:0|intcomma}} km<sup>2</sup> / {{region.2|floatformat:0|intcomma}} mi<sup>2</sup>)</td>
        </tr>
        {% endfor %}
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Marine Eco-Regions</b></td>
        </tr>
        {% for marineregion in marine_ecoregions %}
        <tr>
            <td colspan='2'>{{marineregion.0}} ({{marineregion.1|floatformat:0|intcomma}} km<sup>2</sup> / {{marineregion.2|floatformat:0|intcomma}} mi<sup>2</sup>)</td>
        </tr>
        {% endfor %}
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
    </tbody>
</table>
</div>

<h3>Terrestrial Production</h3>
<div class='freetext'>
<p>
<table  style='width:430px' class='analysis_report_container'>
    <tbody>
        <tr class="grey">
            <td colspan='2'><b>Proportion of Global Terrestrial Coverage</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{landmass_perc|percentage:3}}</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Proportion of Global Terrestrial NPP</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{npp_perc|percentage:3}}</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Average Terrestrial Net Primary Production</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{avg_npp|floatformat:0}} g C/m<sup>2</sup>/yr</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
    </tbody>
</table>
</div>
<h3>Marine Production</h3>
<div class='freetext'>
<p>
<table  style='width:430px' class='analysis_report_container'>
    <tbody>
        <tr class="grey">
            <td colspan='2'><b>Proportion of Global Marine Coverage</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{default_value}}</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Proportion of Global Marine NPP</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{default_value}}</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Average Marine Net Primary Production</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{default_value}} g C/m<sup>2</sup>/yr</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
    </tbody>
</table>
</div>
<h3>Combined Production</h3>
<div class='freetext'>
<p>
<table  style='width:430px' class='analysis_report_container'>
    <tbody>
        <tr class="grey">
            <td colspan='2'><b>Proportion of Global Coverage</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{default_value}}</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Proportion of Global NPP</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{default_value}}</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Average Combined Net Primary Production</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{default_value}} g C/m<sup>2</sup>/yr</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
    </tbody>
</table>
</div>

<style type="text/css">
h3 { font-weight: bold; }
</style>

{% endblock panel %}
