{% extends 'common/panel.html' %}

{% block panel %}
{% load humanize %}
{% load analysis_extras %}

<h3>Languages</h3>
<div class='freetext'>
<p>
<table  style='width:430px' class='analysis_report_container'>
    <tbody>
        <tr class="grey">
            <td colspan='2'>
                <b>Spoken Languages</b>
                <sup><a id="displayText" href="javascript:toggleDiv('lang');">Learn More</a><sup>
                <div id="lang" style="display: none">
                    <p>Data not yet available.
                </div>
            </td>
        </tr>
        {% for language in languages %}
        <tr>
            <td colspan='2'>{{language}}</td>
        </tr>
        {% endfor %}
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
    </tbody>
</table>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
}
</script>

<style type="text/css">
h3 { font-weight: bold; }
</style>

{% endblock panel %}
