{% extends 'common/panel.html' %}

{% block panel %}
{% load humanize %}
{% load analysis_extras %}

<h3>Summary Characteristics</h3>
<div class='freetext'>
<p>
<table  style='width:430px' class='analysis_report_container'>
    <tbody>
        <tr class="grey">
            <td><b>Size of Bioregion</b></td>
            <td><b>Estimated Population (2010)</b></td>
        </tr>
        <tr>
            <td>{{area|intcomma}} square kilometers</td>
            {% if population < 1000000 %}
            <td style='width:225px'>{{population|intcomma}}</td>
            {% else %}
            <td style='width:225px'>{{population|intword}}</td>
            {% endif %}
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Projected Population (for 2015)</b></td>
        </tr>
        <tr>
            {% if population_2015 < 1000000 %}
            <td colspan='2' style='width:225px'>{{population_2015|intcomma}}</td>
            {% else %}
            <td colspan='2' style='width:225px'>{{population_2015|intword}}</td>
            {% endif %}
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Spoken Languages</b></td>
        </tr>
        {% for language in languages %}
        <tr>
            <td colspan='2'>{{language}}</td>
        </tr>
        {% endfor %}
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td><b>Median Max Temperature</b></td>
            <td><b>Median Min Temperature</b></td>
        </tr>
        <tr>
            <td>{{max_temp_c|floatformat:0}}&deg; Celsius / {{max_temp_f|floatformat:0}}&deg; Fahrenheit</td>
            <td>{{min_temp_c|floatformat:0}}&deg; Celsius / {{min_temp_f|floatformat:0}}&deg; Fahrenheit</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td><b>Mean Annual Temperature</b></td>
            <td><b>Mean Annual Temperature Range</b></td>
        </tr>
        <tr>
            <td>{{annual_temp_c|floatformat:0}}&deg; Celsius / {{annual_temp_f|floatformat:0}}&deg; Fahrenheit</td>
            <td>{{annual_temp_range_c|floatformat:0}}&deg; Celsius / {{annual_temp_range_f|floatformat:0}}&deg; Fahrenheit</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Mean Annual Precipitation</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{annual_precip|floatformat:0}} cm</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Existing Eco-Regions</b></td>
        </tr>
        {% for ecoregion in ecoregions %}
        <tr>
            <td colspan='2'>{{ecoregion.0}} ({{ecoregion.1|floatformat:0|intcomma}} km<sup>2</sup>)</td>
        </tr>
        {% endfor %}
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Last Remaining Wild Regions</b></td>
        </tr>
        {% for wild_region in wild_regions %}
        <tr>
            <td colspan='2'>{{wild_region.0}} ({{wild_region.1|floatformat:0|intcomma}} km<sup>2</sup>)</td>
        </tr>
        {% endfor %}
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Proportion of Global Terrestrial Land Mass</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{landmass_perc|percentage:3}}</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Proportion of Global Terrestrial NPP</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{npp_perc|percentage:3}}</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Average Net Primary Production</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{avg_npp|floatformat:0}} g C/m<sup>2</sup>/yr</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr class="grey">
            <td colspan='2'><b>Proportion Suitable for Agriculture</b></td>
        </tr>
        <tr>
            <td colspan='2'>{{soil_suitability|percentage:0}}</td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
    </tbody>
</table>
</div>

<style type="text/css">
h3 { font-weight: bold; }
</style>

{% endblock panel %}
