{% extends 'common/panel.html' %}

{% block panel %}
{% load humanize %}
{% load analysis_extras %}

<h3>Summary Characteristics</h3>
<div class='freetext'>
<p>
<table  style='width:450px' class='analysis_report_container'>
    <tbody>
        <tr class="grey">
            <td style='width:225px'><b>Estimated Population</b></td>
        </tr>
        <tr>
            {% if population < 1000000 %}
            <td style='width:225px'>{{population|intcomma}}</td>
            {% else %}
            <td style='width:225px'>{{population|intword}}</td>
            {% endif %}
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr class="grey">
            <td><b>Proportion Suitable for Agriculture</b></td>
        </tr>
        <tr>
            <td>{{soil_suitability|percentage:2}}</td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr class="grey">
            <td><b>Proportion of Global Terrestrial Net Primary Production</b></td>
        </tr>
        <tr>
            <td>{{default_value}}</td>
        </tr>
    </tbody>
</table>
</div>

<style type="text/css">
h3 { font-weight: bold; }
</style>

{% endblock panel %}
